// font to be used as 'logo/header'
$thefont: 'Pacifico', sans-serif;

.header {
	@include span-columns(4);
	@include shift(4);

	font-family: $thefont;
	text-align: center;
	color: #F09E9A;

	h1 {
		font-size: 38px;
		text-shadow: 2px 2px #6792D1;
	}
}

.login-area {
	@include span-columns(4);
	@include shift(4);

	background-color: #eaf4fd;
	//width: 300px;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

.login_input {
	width: 200px;
	height: 30px;
}

.btn {
	width: 200px;
	height: 30px;
	margin-top: 10px;
	margin-right: 3px;
	border: 1px solid gray;
	background-color: #6792D1;
}