// font to be used as 'logo/header'
@thefont: 'Pacifico', sans-serif;
// font to be used everywhere else
@normalfont: 'Arimo', sans-serif;

.wrapper {
	@include outer-container;
}

.top-content {
	@include span-columns(9);
	@include shift(1);

	padding: 10px;
	background-color: #f6f6f6;
	font-size: 14px;
}

.top-content-logout {
	@include span-columns(1);

	.logout-btn {
		width: 78px;
		height: 30px;
	}
}

.main-content {
	@include span-columns(9);
	@include shift(1);

	background-color: #f6f6f6;
	padding: 10px;
	margin-top: 10px;
}