// font to be used as 'logo/header'
$thefont: 'Pacifico', sans-serif;
// font to be used everywhere else
$normalfont: 'Arimo', sans-serif;
// bgcolor for 'boxes'
$bgcolor: #eaf4fd;
// bgcolor and bordercolor for logout button
$logoutbutton: #F09E9A;
$logoutbutton-border: #F09E9A;
// bgcolor and bordercolor for submit button
$submitbutton: #85D1D4;
$submitbutton-border: #85D1D4;

.wrapper {
	@include outer-container;

	h1 {
		font-family: $thefont;
	}
}

.top-content {
	@include span-columns(9);
	@include shift(1);

	padding: 10px;
	background-color: $bgcolor;
	font-size: 14px;
}

.top-content-logout {
	@include span-columns(1);

	.logout-btn {
		width: 78px;
		height: 30px;
		background-color: $logoutbutton;
		border: 1px solid $logoutbutton-border;
	}
}

.main-content {
	@include span-columns(9);
	@include shift(1);

	background-color: $bgcolor;
	padding: 10px;
	margin-top: 10px;
	text-align: center;

	option {
		background-color: red;
	}

	.shift {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		width: 200px;
		height: 30px;
		border: 1px solid lightgray;
		background-color: #ffffff;
		border-radius: 0px;
		font-size: 12px;
		text-indent: 2px;
	}

	.calendar {
		width: 200px;
		height: 30px;
	}

	.submit-btn {
		width: 100px;
		height: 30px;
		background-color: $submitbutton;
		border: 1px solid $submitbutton-border;
	}

	.saved-times {
		margin-top: 20px;
	}
}